/03_OTA_Updater/build/esp8266.esp8266.nodemcuv2/03_OTA_Updater.ino.map
/04_HomePage/build/esp8266.esp8266.nodemcuv2/03_OTA_Updater.ino.bin
/04_HomePage/build/esp8266.esp8266.nodemcuv2/03_OTA_Updater.ino.elf
/04_HomePage/build/esp8266.esp8266.nodemcuv2/03_OTA_Updater.ino.map
